<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% load static %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"> 
<head>
<title>USAKAG FASHIONS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />

<link rel="stylesheet" href="{% static 'css2/style2.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css2/bootstrap2.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css2/easy-responsive-tabs2.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css2/jquery-ui12.css' %}" type="text/css" media="all" />
<!--pop-up-box-->
<link href="{% static 'css2/popuo-box2.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//pop-up-box-->

<link rel="stylesheet" href="{% static 'jquery.flexisel2.js' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'js2/jquery.flexslider2.js' %}" type="text/css" media="all" />

<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</head>


<body>
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-6 logo-w3">
			<a href="index.html"><img src="{% static 'images/logo2.png' %}" alt=" " /><h1 style=color:lightgreen;>USAKAG <span>FASHIONS</span></h1></a>
		</div>
		<div class="col-md-6 phone-w3l">
			<ul class="breadcrumb">
				<li><a><span>Welcome:{{request.user.username}}</span></a></li>
				<li><a href="{% url 'register' %}"><span>Register</span></a></li>
				<li><a href="{% url 'login' %}"><span>Login</span></a></li>
				<li><a href="{% url 'logout' %}"><span>Logout</span></a></li>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  0704544125</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="#" class="hyper "><span>Home</span></a></li>	
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Categories<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
			
												<li><a href="{% url 'men_only' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's Wear</a></li>
												<li><a href="{% url 'women_only' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's Wear</a></li>
												<li><a href="{% url 'bags_only' %}"> <i class="fa fa-angle-right" aria-hidden="true"></i>Bags</a></li>
												<li><a href="{% url 'scarves_only' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Scarves & Veils</a></li>
										
											</ul>
										
										</div>
										
										
									</div>	
								</ul>
						</li>
						
						<li><a href="#" class="hyper"><span>About Us</span></a></li>

					</ul>
				</div>
			</nav>
		</div>
								<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
				</script>
		<div class="col-md-4 search-agileinfo">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
			</form>
		</div>
		<div class="col-md-1 cart-wthree">
			<div class="cart"> 
				<form action="#" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>  
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-agile">
	<div class="container">
		<h2>WELCOME TO</h2>
		<h3>USAKAG <span>FASHIONS</span></h3>
		<p>We deal in variety of products including bags, Scarves, all women and men's wear. </p>
		<a href="#">Read More</a>
	</div>
</div>

   <!-- special offers -->
	<div class="featured-section" id="projects">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Special Offers
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			
			<div class="content-bottom-in">
				<ul id="flexiselDemo1">
						
					{%if get_special_all %} 	
					{% for get_special_all in get_special_all %}
					<li>
						<div class="w3l-specilamk">
							<div class="speioffer-agile">
								<a href="{% url 'special_detail' get_special_all.id %}">
									<img src="{{get_special_all.item_image.url}}" alt="">
								</a>
							</div>
							<div class="product-name-w3l">
								<h4>
									<a href="#">{{get_special_all.item_name}}</a>
								</h4>
								<div class="w3l-pricehkj">
									<h6><del>{{get_special_all.item_price1}}</del></h6>
									<p>{{get_special_all.item_price2}}</p>
									<p style="color:green"><cite>{{get_special_all.seller_name}}</cite></p>
								</div>
								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
									<form action="#" method="post">
										<fieldset>
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="business" value=" " />
											<input type="hidden" name="item_name" value="Kissan Tomato Ketchup, 950g" />
											<input type="hidden" name="amount" value="99.00" />
											<input type="hidden" name="discount_amount" value="1.00" />
											<input type="hidden" name="currency_code" value="USD" />
											<input type="hidden" name="return" value=" " />
											<input type="hidden" name="cancel_return" value=" " />
											<input type="submit" name="submit" value="Add to cart" class="button" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
					{%else%}
					 <div class="card-body">
						 <h4>No Data available</h4>
					 </div>
					 {%endif%}
						
				</ul>
				
			</div>
		</div>
	</div>
	</div>
   <!-- //special offers -->
<div class="top-products">
	<div class="container">
		<h3>Top Products</h3>
		<div class="sap_tabs">			
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item"><span>Men's wear</span></li>
					<li class="resp-tab-item"><span>Women's wear</span></li>
					<li class="resp-tab-item"><span>Handbags</span></li>	
					<li class="resp-tab-item"><span>Scarves&Veils</span></li>						
				</ul>	
				<div class="clearfix"> </div>
				<div class="resp-tabs-container">
					{%if get_men_all_wear %}
					<div class="tab-1 resp-tab-content">
						{% for get_men_all_wear in get_men_all_wear %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							<a href="{% url 'men_detail' get_men_all_wear.id %}"><div class="product-img">
								<img src="{{get_men_all_wear.item_image.url}}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Formal shoes" /> 
									<input type="hidden" name="amount" value="220.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{ get_men_all_wear.item_name}}</h4>
							<h5>{{ get_men_all_wear.item_price}}</h5>
						</div>
						{% endfor %}
						{%else%}
                <div class="card-body">
                    <h4>No Data available</h4>
                </div>
                {%endif%}
						
						<div class="clearfix"></div>
						</div>
					</div>
					{%if get_women_all_wear %}
					<div class="tab-1 resp-tab-content">
						{% for get_women_all_wear in get_women_all_wear %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							
							<a href="{% url 'women_detail' get_women_all_wear.id %}"><div class="product-img">
								<img src="{{get_women_all_wear.item_image.url}}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Casual wear" /> 
									<input type="hidden" name="amount" value="220.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{get_women_all_wear.item_name}}</h4>
							<h5>{{get_women_all_wear.item_price}}</h5>
						</div>
						{% endfor %} 
						{%else%}
						<div class="card-body">
						<h4>No Data available</h4>
						</div>
					{%endif%}
					<div class="clearfix"></div>
					<div class="top-products-set2">
						
					 </div>
					</div>
					{%if get_bagi %} 
					<div class="tab-1 resp-tab-content">
						{% for get_bagi in get_bagi %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							<a href="{% url 'bag_detail' get_bagi.id %}"><div class="product-img">
								<img src="{{ get_bagi.item_image.url }}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Handbag" /> 
									<input type="hidden" name="amount" value="90.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{get_bagi.item_name}}</h4>
							<h5>{{get_bagi.item_price}}</h5>
						</div>
						{% endfor %}
						
						<div class="clearfix"></div>

						<div class="top-products-set2">
						
						<div class="clearfix"></div>
						</div>						
					</div>
					{%else%}
                    <div class="card-body">
                      <h4>No Data available</h4>
                    </div>
                    {%endif%}
					
					<div class="clearfix"></div>

					{%if get_scarve_all %} 	
					<div class="tab-1 resp-tab-content">
						{% for get_scarve_all in get_scarve_all %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							<a href="{% url 'scarve_detail' get_scarve_all.id %}"><div class="product-img">
								<img src="{{get_scarve_all.item_image.url}}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Eye makeup" /> 
									<input type="hidden" name="amount" value="90.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{get_scarve_all.item_name}}</h4>
							<h5>{{get_scarve_all.item_price}}</h5>
						</div>
						{% endfor %}
						{%else%}
					 <div class="card-body">
						 <h4>No Data available</h4>
					 </div>
					 {%endif%}
						
						<div class="clearfix"></div>	
						
						<div class="top-products-set2">
						
			            <div class="clearfix"></div>
						</div>
					</div>						
				</div>
			</div>
		</div>	
	</div> 
</div>
	<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});		
	</script>

<!-- slider js -->
		
			
					<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: false,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
					</script>  
					<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>

<!-- //slider js -->

<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grids fgd1">
		<a href="index.html"><img src="{% static 'images/logo2.png' %}" alt=" " /><h3>USAKAG<span>FASHIONS</span></h3></a>
		<ul>
			<li>William Street,@Lockups Besides Trade Link shop No.504</li>
			<li>Kampala City.</li>
			<li><a href="mailto:info@example.com">Usakag56@gmail.com</a></li>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</ul>
		</div>
		<div class="col-md-3 footer-grids fgd2">
			<h4>Information</h4> 
			<ul>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="icons.html">Web Icons</a></li>
				<li><a href="typography.html">Typography</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		
		<div class="col-md-3 footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				
				<li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="recommended.html">Recommended </a></li>
				<li><a href="payment.html">Payments</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">© 2021 usakag fashions . All rights reserved | Design by <a href="#"> Usak.designs.</a></p>
	</div>
</div>
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  

	
	<!-- //cart-js --> 
	
	<!-- for bootstrap working -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->

	<script src="	{% static 'js/minicart.js' %}"></script>

</body>
</html>