<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% load static %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"> 
<head>
<title>USAKAG FASHIONS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</head>


<body>
<div class="header-top-w3layouts">
	<div class="container">
		<div class="col-md-6 logo-w3">
			<a href="index.html"><img src="{% static 'images/logo2.png' %}" alt=" " /><h1 style=color:lightgreen;>USAKAG <span>FASHIONS</span></h1></a>
		</div>
		<div class="col-md-6 phone-w3l">
			<ul class="breadcrumb">
				<li><a><span>Welcome:{{request.user.username}}</span></a></li>
				<li><a href="{% url 'register' %}"><span>Register</span></a></li>
				<li><a href="{% url 'login' %}"><span>Login</span></a></li>
				<li><a href="{% url 'logout' %}"><span>Logout</span></a></li>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  0704544125</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-7 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" active"><a href="#" class="hyper "><span>Home</span></a></li>	
						<li class="dropdown ">
							<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Categories<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
			
												<li><a href="men.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's Wear</a></li>
												<li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's Wear</a></li>
												<li><a href="kids.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Bags</a></li>
												<li><a href="party.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Scarves & Veils</a></li>
										
											</ul>
										
										</div>
										
										
									</div>	
								</ul>
						</li>
						<li class="dropdown">
								<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Men's Wear <b class="caret"></b></span></a>
								<ul class="dropdown-menu multi multi1">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shirts Long Sleeved</a></li>
												<li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>T-Shirts</a></li>
												<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Casuals</a></li>
												<li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Inner Wears</a></li>
												<li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Jeans</a></li>
										
											</ul>
											
										</div>
										
										<div class="col-sm-4 w3l">
											<a href="men.html"><img src="images/menu2.jpg" class="img-responsive" alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>	
								</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Women's Wear <b class="caret"></b></span></a>
							<ul class="dropdown-menu multi multi1">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shifon Tops</a></li>
											<li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Dresses</a></li>
											<li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shirt dresses</a></li>
											<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cotton Tops</a></li>
											<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Crop Tops</a></li>
									
										</ul>
										
									</div>
									
									<div class="col-sm-4 w3l">
										<a href="women.html"><img src="images/menu2.jpg" class="img-responsive" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>	
							</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Bags<b class="caret"></b></span></a>
						<ul class="dropdown-menu multi multi1">
							<div class="row">
								<div class="col-sm-4">
									<ul class="multi-column-dropdown">
										<li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Hand Bags</a></li>
										<li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Crossbody Men</a></li>
										<li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Crossbody Women</a></li>
										<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Travelling Bags</a></li>
										<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Waist bags</a></li>
										<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Wallets</a></li>
								
									</ul>
									
								</div>
								
								<div class="col-sm-4 w3l">
									<a href="bags.html"><img src="images/menu2.jpg" class="img-responsive" alt=""></a>
								</div>
								<div class="clearfix"></div>
							</div>	
						</ul>
				</li>

                <li class="dropdown">
					<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Scarves<b class="caret"></b></span></a>
					<ul class="dropdown-menu multi multi1">
						<div class="row">
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<li><a href="jewellery.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Veils</a></li>
									<li><a href="watches.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Satin Scarves</a></li>
									<li><a href="deos.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shawls</a></li>
									<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Insect Sheild Scarves</a></li>
									<li><a href="cosmetics.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Wrap Scarves</a></li>
							
								</ul>
								
							</div>
							
							<div class="col-sm-4 w3l">
								<a href="men.html"><img src="images/menu2.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="clearfix"></div>
						</div>	
					</ul>
			</li>

						<li><a href="about.html" class="hyper"><span>About Us</span></a></li>

					</ul>
				</div>
			</nav>
		</div>
								<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
				</script>
		<div class="col-md-4 search-agileinfo">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
			</form>
		</div>
		<div class="col-md-1 cart-wthree">
			<div class="cart"> 
				<form action="#" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>  
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="banner-agile">
	<div class="container">
		<h2>WELCOME TO</h2>
		<h3>USAKAG <span>FASHIONS</span></h3>
		<p>We deal in variety of products including bags, Scarves, all women and men's wear. </p>
		<a href="about.html">Read More</a>
	</div>
</div>
<div class="banner-bootom-w3-agileits">
	<div class="container">
		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="women.html"><div class="bb-left-agileits-w3layouts-inner">
					<h3>SALE</h3>
					<h4>upto<span>30%</span></h4>
			</div></a>
		</div>
		<div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
			<a href="shoes.html"><div class="bb-middle-top">
				<h3>SALE</h3>
				<h4>upto<span>20%</span></h4>
			</div></a>
			<a href="jewellery.html"><div class="bb-middle-bottom">
				<h3>SALE</h3>
				<h4>upto<span>10%</span></h4>
			</div></a>
		</div>
		<div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
			<a href="watches.html"><div class="bb-right-top">
				<h3>SALE</h3>
				<h4>upto<span>30%</span></h4>
			</div></a>
			<a href="handbags.html"><div class="bb-right-bottom">
				<h3>SALE</h3>
				<h4>upto<span>10%</span></h4>
			</div></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="top-products">
	<div class="container">
		<h3>Top Products</h3>
		<div class="sap_tabs">			
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item"><span>Men's wear</span></li>
					<li class="resp-tab-item"><span>Women's wear</span></li>
					<li class="resp-tab-item"><span>Handbags</span></li>	
					<li class="resp-tab-item"><span>Scarves&Veils</span></li>						
				</ul>	
				<div class="clearfix"> </div>
				<div class="resp-tabs-container">
					{%if get_men_all_wear %}
					<div class="tab-1 resp-tab-content">
						{% for get_men_all_wear in get_men_all_wear %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							<a href="{% url 'men_detail' get_men_all_wear.id %}"><div class="product-img">
								<img src="{{get_men_all_wear.item_image.url}}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Formal shoes" /> 
									<input type="hidden" name="amount" value="220.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{ get_men_all_wear.item_name}}</h4>
							<h5>{{ get_men_all_wear.item_price}}</h5>
						</div>
						{% endfor %}
						{%else%}
                <div class="card-body">
                    <h4>No Data available</h4>
                </div>
                {%endif%}
						
						<div class="clearfix"></div>
						</div>
					</div>
					{%if get_women_all_wear %}
					<div class="tab-1 resp-tab-content">
						{% for get_women_all_wear in get_women_all_wear %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							
							<a href="{% url 'women_detail' get_women_all_wear.id %}"><div class="product-img">
								<img src="{{get_women_all_wear.item_image.url}}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Casual wear" /> 
									<input type="hidden" name="amount" value="220.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{get_women_all_wear.item_name}}</h4>
							<h5>{{get_women_all_wear.item_price}}</h5>
						</div>
						{% endfor %} 
						{%else%}
						<div class="card-body">
						<h4>No Data available</h4>
						</div>
					{%endif%}
					<div class="clearfix"></div>
					<div class="top-products-set2">
						
					 </div>
					</div>
					{%if get_bagi %} 
					<div class="tab-1 resp-tab-content">
						{% for get_bagi in get_bagi %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							<a href="{% url 'bag_detail' get_bagi.id %}"><div class="product-img">
								<img src="{{ get_bagi.item_image.url }}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Handbag" /> 
									<input type="hidden" name="amount" value="90.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{get_bagi.item_name}}</h4>
							<h5>{{get_bagi.item_price}}</h5>
						</div>
						{% endfor %}
						
						<div class="clearfix"></div>

						<div class="top-products-set2">
						
						<div class="clearfix"></div>
						</div>						
					</div>
					{%else%}
                    <div class="card-body">
                      <h4>No Data available</h4>
                    </div>
                    {%endif%}
					
					<div class="clearfix"></div>

					{%if get_scarve_all %} 	
					<div class="tab-1 resp-tab-content">
						{% for get_scarve_all in get_scarve_all %}
						<div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
							<a href="{% url 'scarve_detail' get_scarve_all.id %}"><div class="product-img">
								<img src="{{get_scarve_all.item_image.url}}" alt="" />
								<div class="p-mask">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls1_item" value="Eye makeup" /> 
									<input type="hidden" name="amount" value="90.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
								</div>
							</div></a>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star yellow-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<i class="fa fa-star gray-star" aria-hidden="true"></i>
							<h4>{{get_scarve_all.item_name}}</h4>
							<h5>{{get_scarve_all.item_price}}</h5>
						</div>
						{% endfor %}
						{%else%}
					 <div class="card-body">
						 <h4>No Data available</h4>
					 </div>
					 {%endif%}
						
						<div class="clearfix"></div>	
						
						<div class="top-products-set2">
						
			            <div class="clearfix"></div>
						</div>
					</div>						
				</div>
			</div>
		</div>	
	</div> 
</div>
	<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});		
	</script>
<div class="fandt">
	<div class="container">
		<div class="col-md-6 features">
			<h3>Our Services</h3>
			<div class="support">
				<div class="col-md-2 ficon hvr-rectangle-out">
					<i class="fa fa-user " aria-hidden="true"></i>
				</div>
				<div class="col-md-10 ftext">
					<h4>24/7 online free support</h4>
					<p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="shipping">
				<div class="col-md-2 ficon hvr-rectangle-out">
					<i class="fa fa-bus" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 ftext">
					<h4>Free shipping</h4>
					<p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
				</div>	
				<div class="clearfix"></div>
			</div>
			<div class="money-back">
				<div class="col-md-2 ficon hvr-rectangle-out">
					<i class="fa fa-money" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 ftext">
					<h4>100% money back</h4>
					<p>Praesent rutrum vitae ligula sit amet vehicula. Donec eget libero nec dolor tincidunt vulputate.</p>
				</div>	
				<div class="clearfix"></div>				
			</div>
		</div>
		<div class="col-md-6 testimonials">
			<div class="test-inner">
				<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<img src="{% static 'images/c1.png' %}" alt=" " class="img-responsive" />
								<p>Nam elementum magna id nibh pretium suscipit varius tortor. Phasellus in lorem sed massa consectetur fermentum. Praesent pellentesque sapien euismod.</p>
								<h4># Andrew</h4>  
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<img src="images/c2.png" alt=" " class="img-responsive" />
								<p>Morbi semper, risus dignissim sagittis iaculis, diam est ornare neque, accumsan risus tortor at est. Vivamus auctor quis lacus sed interdum celerisque.</p>
								<h4># Lucy</h4>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<img src="images/c3.png" alt=" " class="img-responsive" />
								<p>Fusce non cursus quam, in hendrerit sem. Nam nunc dui, venenatis vitae porta sed, sagittis id nisl. Pellentesque celerisque  eget ullamcorper vehicula. </p>
								<h4># Martina</h4>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>  
	</div>
				<script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
								<script>
									$('.example1').wmuSlider();         
								</script> 
</div>
<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Top Brands</h3>
			<div class="sliderfig">
				<ul id="flexiselDemo1">			
					<li>
						<img src="{% static 'images/4.png' %}" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/5.png' %}" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/6.png' %}" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/7.png' %}" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/46.jpg' %}" alt=" " class="img-responsive" />
					</li>
				</ul>
			</div>
					<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: false,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
					</script>  
					<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
		</div>
	</div>
<!-- //top-brands -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grids fgd1">
		<a href="index.html"><img src="images/logo2.png" alt=" " /><h3>USAKAG<span>FASHIONS</span></h3></a>
		<ul>
			<li>1234k Avenue, 4th block,</li>
			<li>New York City.</li>
			<li><a href="mailto:info@example.com">info@example.com</a></li>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</ul>
		</div>
		<div class="col-md-3 footer-grids fgd2">
			<h4>Information</h4> 
			<ul>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="icons.html">Web Icons</a></li>
				<li><a href="typography.html">Typography</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd3">
			<h4>Shop</h4> 
			<ul>
				<li><a href="jewellery.html">Jewellery</a></li>
				<li><a href="cosmetics.html">Cosmetics</a></li>
				<li><a href="Shoes.html">Shoes</a></li>
				<li><a href="deos.html">Deos</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grids fgd4">
			<h4>My Account</h4> 
			<ul>
				
				<li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="recommended.html">Recommended </a></li>
				<li><a href="payment.html">Payments</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">© 2021 usakag fashions . All rights reserved | Design by Usama.K <a href="http://w3layouts.com"> W3layouts.</a></p>
	</div>
</div>
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->  
</body>
</html>